.gradle
/local.properties
.idea/
*.iml
/build

vitamio/build/generated/assets/
vitamio/build/generated/res/
vitamio/build/generated/source/aidl/
vitamio/build/generated/source/rs/
vitamio/build/intermediates/assets/
vitamio/build/intermediates/bundles/debug/aidl/
vitamio/build/intermediates/bundles/debug/assets/
vitamio/build/intermediates/bundles/debug/libs/
vitamio/build/intermediates/bundles/release/aidl/
vitamio/build/intermediates/bundles/release/assets/
vitamio/build/intermediates/bundles/release/libs/
vitamio/build/intermediates/dependency-cache/
vitamio/build/intermediates/lint/
vitamio/build/intermediates/manifest/tmp/
vitamio/build/intermediates/rs/
vitamio/build/intermediates/shaders/
vitamio/build/intermediates/transforms/mergeJavaRes/

